<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.solvd.app.interfaces.IPositionDAO">
    <resultMap id="positionResultMap" type="Position" autoMapping="false">
        <id property="positionID" column="position_id"/>
        <result property="name" column="name"/>
        <result property="salary" column="salary"/>
    </resultMap>

    <insert id="createEntity" keyProperty="positionID" useGeneratedKeys="true">
        INSERT INTO positions (name, salary)
        VALUES (#{name}, #{salary});
    </insert>

    <update id="updateEntity" parameterType="Position">
        UPDATE positions
        SET name = #{name}, salary = #{salary}
        WHERE position_id = #{positionID};
    </update>

    <delete id="deleteEntityByID" parameterType="int">
        DELETE FROM positions WHERE position_id = #{id};
    </delete>

    <select id="getEntityByID" parameterType="int" resultMap="positionResultMap">
        SELECT * FROM positions WHERE position_id = #{id};
    </select>

    <select id="getAll" resultMap="positionResultMap">
        SELECT * FROM positions;
    </select>

    <select id="getSalaryByPositionName" parameterType="string" resultType="double">
        SELECT salary FROM positions WHERE name = #{name};
    </select>
</mapper>
